.container {
  .title {
    padding: 32px 0 0 24px;
    font-size: 32px;
    font-weight: 600;
    color: rgba(12, 12, 12, 1);
  }
}

.home-list {
  .item {
    padding: 38px 0 40px 24px;
    border-bottom: 16px solid rgba(247, 247, 247, 1);
    .item-left {
      width: 180px;
      image {
        width: 180px;
        height: 180px;
        border-radius: 5px;
      }
      .label {
        font-size: 18px;
        height: 28px;
        line-height: 28px;
        background: linear-gradient(90deg, rgba(255, 105, 73, 1) 0%, rgba(255, 56, 135, 1) 100%);
        border-radius: 2px;
        color: #fff;
        padding: 0 10px;
      }
    }
    .item-right {
      width: 495px;
      padding: 0 20px;
      .shop-name {
        font-size: 28px;
        font-weight: 600;
        color: rgba(66, 66, 66, 1);
      }
      .tags{
        font-size: 18px;
        padding: 20px 0;
        border-bottom: 1px solid #f5f5f5;
        .tag{
          text{
            padding: 3px 10px;
            border: 1PX solid #FF9E3EFF;
            color: #FF9E3EFF;
            margin-right: 15px;
          }
        }
        .distance{
          color: #999;
        }
      }
      .rates{
        .item-rate{
          width: 50%;
          font-size:20px;
          font-weight:400;
          margin-top: 13px;
          color:rgba(74,74,74,1);
          .label{
            width: 60px;
            height: 28px;
            text-align: justify;
          }
        }
      }
    }
  }
}